/* ---------------------------------- Fonts --------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

/* -------------------------------- Variables ------------------------------- */

:root {
  /* Font family */
  --primary-ff: "Karla", sans-serif;
  --secondary-ff: "Unica One", sans-serif;

  /* Colors */
  --dark-cl: hsl(0, 0%, 1%);
  --light-cl: hsl(0, 0%, 54%);
  --alert-cl: hsl(0, 100%, 24%);
  --alert-light-cl: hsl(0, 100%, 64%);
  --notification-cl: hsl(242, 100%, 15%);
  --bg-cl: hsl(0, 0%, 97%);
  --white: hsl(0, 0%, 100%);

  /* Sizes */
  --margin-xl: 10rem;
  --margin-sm: 5rem;
  --margin-xs: 1.5rem;
}

/* Helper classes */

.box-p {
  padding: 0 37rem;
}

.flex-h {
  display: flex;
}
.flex-v {
  display: flex;
  flex-direction: column;
}

/* --------------------------------- Initial -------------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
.footer-list_title {
  font-family: var(--secondary-ff);
}

p,
a,
h3 + p,
button {
  font-family: var(--primary-ff);
}

a,
h3 + p {
  font-weight: 600;
}

h1 {
  font-size: 18rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}

h3,
h3 + p {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

a,
li {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

footer a {
  font-weight: 100;
}
.footer-list_title {
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  font-size: 2rem;
}

hr {
  position: absolute;
  right: 0;
  left: 0;

  height: 1px;
  background-color: hsl(0, 0%, 20%);
  border: none;
}
/* --------------------------------- Styling -------------------------------- */

/* Header */

.header-container {
  background: url("./img/header-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 65vh;
  margin-top: -1rem;

  justify-content: space-evenly;
  align-items: center;
}

.header-container h1 {
  margin: 0;
  color: var(--white);
}

.header-container button {
  font-size: 3.5rem;
  padding: 2.5rem 6rem;
  margin-bottom: -11rem;

  border: none;
  border-radius: 2rem;

  background-color: var(--alert-cl);
  color: var(--white);

  transition: background-color 0.2s ease;

  cursor: pointer;
}

.header-container button:hover {
  background-color: var(--alert-light-cl);
}

/* Navigation */
.nav-container {
  position: relative;
  width: 100vw;
  background-color: var(--dark-cl);
  margin: 0 auto;
}

.nav-top {
  align-items: center;
  justify-content: space-between;
  color: var(--white);

  padding: 0.2rem 0;
}

.nav-top img {
  max-width: 27.8rem;
}

.nav-top i {
  font-size: 3rem;
  padding: 1rem;

  cursor: pointer;
}

.nav-links {
  align-items: center;
  padding: 1.7rem 0;
}

.nav-links li {
  position: relative;

  padding-bottom: 1rem;
}

.nav-links li:not(:last-of-type) {
  margin-right: 5rem;
}

.nav-links li::after {
  content: "";

  width: 0%;
  height: 5px;
  background-color: var(--alert-cl);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  transition: width 0.2s ease-in-out;
}

.nav-links li:hover::after {
  width: 100%;
}
