/* ---------------------------------- Fonts --------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

/* -------------------------------- Variables ------------------------------- */

:root {
  /* Font family */
  --primary-ff: "Karla", sans-serif;
  --secondary-ff: "Unica One", sans-serif;

  /* Colors */
  --dark-cl: hsl(0, 0%, 1%);
  --light-cl: hsl(0, 0%, 54%);
  --alert-cl: hsl(0, 100%, 24%);
  --alert-light-cl: hsl(0, 100%, 64%);
  --notification-cl: hsl(242, 100%, 15%);
  --bg-cl: hsl(0, 0%, 97%);
  --white: hsl(0, 0%, 100%);

  /* Sizes */
  --margin-xl: 10rem;
  --margin-sm: 5rem;
  --margin-xs: 1.5rem;
}

/* Helper classes */

.box-p {
  padding: 0 37rem;
}

.flex-h {
  display: flex;
}
.flex-v {
  display: flex;
  flex-direction: column;
}

/* --------------------------------- Initial -------------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
.footer-list_title {
  font-family: var(--secondary-ff);
}

p,
a,
h3 + p,
button,
input {
  font-family: var(--primary-ff);
}

a,
h3 + p {
  font-weight: 600;
}

h1 {
  font-size: 18rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  margin: 0;
}

h3,
h3 + p {
  font-size: 3rem;
}

h4 {
  margin: 0;
}

p {
  font-size: 2.5rem;
}

a,
li {
  font-size: 1.5rem;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

footer a {
  font-weight: 100;
}
.footer-list_title {
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  font-size: 2rem;
}

hr {
  position: absolute;
  right: 0;
  left: 0;

  height: 1px;
  background-color: hsl(0, 0%, 20%);
  border: none;
}

main {
  padding: 10rem 0;
  background-color: var(--bg-cl);
}

/* --------------------------------- Styling -------------------------------- */

/* Header */

.header-container {
  background: url("./img/header-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 65vh;
  margin-top: -1rem;

  justify-content: space-evenly;
  align-items: center;
}

.header-container h1 {
  margin: 0;
  color: var(--white);
}

.header-container button {
  font-size: 3.5rem;
  padding: 2.5rem 6rem;
  margin-bottom: -11rem;

  border: none;
  border-radius: 2rem;

  background-color: var(--alert-cl);
  color: var(--white);

  transition: background-color 0.2s ease;

  cursor: pointer;
}

.header-container button:hover {
  background-color: var(--alert-light-cl);
}

/* Navigation */
.nav-container {
  position: relative;
  width: 100vw;
  background-color: var(--dark-cl);
  margin: 0 auto;
}

.nav-top {
  align-items: center;
  justify-content: space-between;
  color: var(--white);

  padding: 0.2rem 0;
}

.nav-top img {
  max-width: 27.8rem;
}

.nav-top i {
  font-size: 3rem;
  padding: 1rem;

  cursor: pointer;
}

.nav-links {
  align-items: center;
  padding: 1.7rem 0;
}

.nav-links li {
  position: relative;
  padding-bottom: 1rem;
}
.nav-links a {
  color: var(--white);
}

.nav-links li:not(:last-of-type) {
  margin-right: 5rem;
}

.nav-links li::after {
  content: "";

  width: 0%;
  height: 5px;
  background-color: var(--alert-cl);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  transition: width 0.2s ease-in-out;
}

.nav-links li:hover::after {
  width: 100%;
}

/* Cards */

.promo-container + .promo-container {
  margin-top: 5rem;
}

.category-card {
  width: 38rem;
  height: 48rem;
  margin-top: -20rem;
  margin-bottom: 10rem;
}

.product-card,
.promo-card {
  width: 22.7rem;
  height: 34.5rem;
  margin-top: 1px;

  cursor: default;
}

.category-card,
.product-card {
  background-color: var(--white);

  text-align: center;
  overflow: hidden;
}
.category-card:not(:last-of-type),
.product-card:not(:last-of-type) {
  margin-right: 1px;
}

.category-card img,
.product-card img {
  width: 50%;
  transition: all 0.5s ease;
}

.category-card img {
  margin: 4rem 0;
}

.product-card img {
  margin: 3.5rem 0;
}

.category-card h3 {
  color: var(--dark-cl);
  text-transform: uppercase;
}

.category-card p {
  color: var(--notification-cl);
}

.product-card h4 {
  font-size: 2.5rem;
  font-weight: 600;

  color: var(--dark-cl);
}

.product-card p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light-cl);
}

.icons {
  display: block;
  height: 4rem;
  position: relative;
}

.icons i {
  font-size: 3rem;
  color: var(--notification-cl);
  transition: transform 0.2s ease-out;
}

.icons a {
  transition: opacity 0.3s ease-in, left 0.3s ease-in, right 0.3s ease-in,
    transform 0.2s ease-in-out;
}

.icons a:first-of-type {
  position: absolute;
  left: -2rem;
  opacity: 0;
}

.icons a:last-of-type {
  position: absolute;
  right: -2rem;
  opacity: 0;
}

.best-sellers,
.on-sale {
  display: flex;
  align-items: flex-end;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.best-sellers h2,
.on-sale h2 {
  text-transform: uppercase;
  color: var(--white);

  padding: 1.3rem;

  background-color: hsla(0, 100%, 24%, 40%);
  backdrop-filter: blur(10px);
}

.best-sellers {
  background-image: url(./img/6e0a501bd0b8ed3175a80fb705a82530--timex-watches-prop-styling.jpg);
}

.on-sale {
  background-image: url(./img/c1eee39f8c48676788139292f00d2709.jpg);
}

/* Hover */
.category-card:hover img,
.product-card:hover img {
  transform: scale(1.3);
}

.category-card:hover p {
  color: var(--alert-cl);
}

.product-card:hover a:first-of-type {
  left: 2rem;
  opacity: 1;
}

.product-card:hover a:last-of-type {
  right: 2rem;
  opacity: 1;
}

.icons i:hover {
  transform: scale(1.2);
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-cl);

  padding: 10rem 37rem;
  color: var(--white);
}

footer a {
  color: var(--white);
  transition: color 0.2s ease-in;
}

footer a:hover {
  color: var(--light-cl);
}

.footer-list {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: repeat(5, auto);
}

.footer-list_title {
  align-self: start;
  justify-self: start;
  grid-column: 1/2;
  grid-row: 1 / -1;
}

.footer-list li {
  grid-column: 2/3;
}

.newsletter-container input {
  outline: none;

  background-color: transparent;
  border: 2px solid var(--white);
  padding: 1rem 2rem;
  color: var(--white);
}
